<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Avengers</servlet-name>
        <servlet-class>com.mycompany.avengers.Avengers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IronMan</servlet-name>
        <servlet-class>IronMan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptainAmerica</servlet-name>
        <servlet-class>CaptainAmerica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Thor</servlet-name>
        <servlet-class>Thor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlackWidow</servlet-name>
        <servlet-class>BlackWidow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HawkEye</servlet-name>
        <servlet-class>HawkEye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScarlettWitch</servlet-name>
        <servlet-class>ScarlettWitch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vision</servlet-name>
        <servlet-class>Vision</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrStrange</servlet-name>
        <servlet-class>DrStrange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlackPanther</servlet-name>
        <servlet-class>BlackPanther</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptainMarvel</servlet-name>
        <servlet-class>CaptainMarvel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpiderMan</servlet-name>
        <servlet-class>SpiderMan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quest</servlet-name>
        <servlet-class>Quest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>db</servlet-name>
        <servlet-class>db</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>display</servlet-name>
        <servlet-class>display</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Avengers</servlet-name>
        <url-pattern>/Avengers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IronMan</servlet-name>
        <url-pattern>/IronMan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptainAmerica</servlet-name>
        <url-pattern>/CaptainAmerica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Thor</servlet-name>
        <url-pattern>/Thor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlackWidow</servlet-name>
        <url-pattern>/BlackWidow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HawkEye</servlet-name>
        <url-pattern>/HawkEye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScarlettWitch</servlet-name>
        <url-pattern>/ScarlettWitch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vision</servlet-name>
        <url-pattern>/Vision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrStrange</servlet-name>
        <url-pattern>/DrStrange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlackPanther</servlet-name>
        <url-pattern>/BlackPanther</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptainMarvel</servlet-name>
        <url-pattern>/CaptainMarvel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpiderMan</servlet-name>
        <url-pattern>/SpiderMan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quest</servlet-name>
        <url-pattern>/Quest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>db</servlet-name>
        <url-pattern>/db</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>display</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>main.html</welcome-file>
    </welcome-file-list>
</web-app>
